#logo {
    margin-right: 20px;
    color: yellow;
    font-size: 45px;
    font-family: 'Expletus Sans', cursive;
    text-shadow: 2px 2px #ebe99d;

}

#logo2 {
    margin-right: 20px;
    margin-top: 14px;
    color: yellow;
    font-size: 20px;
    font-family: 'Expletus Sans', cursive;

}
body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Merriweather', serif;
    background-color:yellow;
}

nav {
    background-color: black;
    padding: 50px;
    height: 100px;
    margin-bottom: 20px;
}

.nav-item {
    padding: 10px;
    color: rgb(237, 244, 250);
    font-size: 25px;
    
}

nav a {
    padding: 10px;
    color: rgb(237, 244, 250);
}

.nav-wrapper {
    padding-right: 20px;
}

nav>div>p {
    display: inline-block;
    padding-left: 10px;
    font-size: 30px;
}

section {
    padding-left: 20px;
    padding-right: 20px;
}

label {
    color: rgb(0, 149, 248);
}

input {
    color: rgb(109, 109, 109)
}

.comment {
    margin-bottom: 20px;
    margin-left: 15px;
    padding: 20px;
    background-color:  rgb(194, 194, 194);
    border-radius: 10px;
}

.comment:nth-child(even) {
    background-color: rgb(228, 225, 225);
}

h2, h3 {
    font-size: 20px;
    color: rgb(0, 149, 248);
    margin: 30px o;
    text-align: right;
}

.list-item {
    color: rgb(85, 84, 84);
}

p {
    margin-bottom: 5px;
}

.btn {
    /* width: 100%; */
    margin-bottom: 10px;
    background-color: yellow;
    border-radius: 10px;
    color: black;
}

.btn:hover {
    background-color: rgb(197, 196, 118);
}

.btn:focus {
    background-color: rgba(12, 105, 128, 1);
}

/* footer {
    background-color :black;
    width: 100%;
    margin-top: 10px;
    padding: 15px 35px;
    color: rgb(237, 244, 250);
}

footer a {
    color: rgb(237, 244, 250);
} */

footer {

    height:150px; 
    width: 100%;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    background-color: black;
    color: yellow;
    font-family: 'Expletus Sans', cursive;

}   

.footer_contents {

    height: 75px; 
    width: 100%; /* Visible width of footer */
    padding: 7px;
    margin:auto;
    font-family: 'Expletus Sans', cursive;
    font-size: 15px;

}

.column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    padding: 0 10px;
}

.card {
    border-radius: 15px;
    margin-bottom: 15px;
}

.card-title {
    font-size: 15px !important;
    background-color: rgba(12, 105, 128, 0.5);
}

.posts a {
    margin-bottom: 20px;
}

.post a:nth-child(even) {
    background-color: grey;
}

.list-group a {
    margin-left: 10px;
    padding: 10px;
}

.list-group a:nth-child(even) {
    background-color: rgb(218, 218, 218);
}